<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Planner</title>
</head>
<body>
    <h1 class="plannerTlt">Your tasks</h1>
    <div class="containerCards">
        {{#each planner}}
        <div class="col-sm-3">
        <div class="card" style="width: 16rem;">
            <div class="card-body {{type}}">
                <a href="/task/{{_id}}" class="lnk-vt"><h5 class="card-title">{{title}}</h5></a>
                <p class="txtDate">Date: {{#formatDate date}} {{/formatDate}}</p>
                <p class="txtHour">Hour: {{hhmm}}</p>
                <p class="txtType">{{type}}</p>
            </div>
        </div>
        </div>
        {{/each}}
    </div>
</body>

<form action="/profile" method="post" class="frm-Pfl">
<a href="/profile" class="lnk-Pfl">Create new task</a>
</form>


</html>



