<h1>Task List</h1>

 <div>
    <h3>{{title}}</h3>
    <p>Description: {{description}}</h3>
    <p>Adress: {{adress}}</h3>
    <p>Status: {{status}}</h3>
    <p>By: {{username}}</p>
    <a href='/edit-task/{{_id}}'>See details</a>
 </div>
