<body class="tskbd">
    <h1 class="tskTlt">Your task</h1>
    <div class="containerTsk">
        <p class="tltP">{{title}}</p>
        <p class="tltD">{{description}}</p>
        <p class="tltF">{{#formatDate date}} {{/formatDate}}</p>
        <p class="tltH">{{hhmm}}</p>   
        <p class="tltT">{{type}}</p>  
        <p class="tltS">{{status}}</p>
        <p class="tltA">{{address}}</p>
    </div>
    <a href='/edit-task/{{_id}}' class="lnk-ET">Edit Task</a>
    <p>
    <form action="/auth/logout" method="post" class="loForm">
        <a href="/planner" class="lnk-tsk">All tasks</a>
    </form>
    </p>
</body>
